*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

header{
    display: flex;
    justify-content: center;
}

.logo{
    height: 10rem;
}

.checks{
    display: flex;
}

.toolBar{
    display: flex;
    flex-direction: row;
    margin-top: 4rem;
    justify-content: space-around;
    gap: 1rem;
}

.buttons{
    display: flex;
    gap: 1rem;
}

.searchBar{
    margin-left: -1rem;
}

.cards{
    margin-top: 8rem;

}

.heads {
    display: grid;
    grid-template-columns: repeat(6, 1fr); /* Seis columnas para datos y el botón */
    text-align: center;
    font-weight: bold;
}

.heads span,
.parkCard span {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.parkCard{
    max-height: 15.5rem;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    border: 1px solid lightgray;
}

.parkCard::-webkit-scrollbar{
    display: none;
}

.salidaButton {
    background-color: black;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.heads {
    background-color: #f0f0f0;
}

.tarifas{
    display: flex;
    justify-content: space-around;
}