* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

h2{
    text-align: center;
}

.modal {
    height: 68vh;
    position: relative;
    top: 20%;
    left: 32%;
    padding: 2rem;
    border: 1px solid white;
    box-shadow: 0 0 10px black;
    border-radius: 6px;
    overflow-y: hidden;
    z-index: 1;
}

.modal::backdrop {
    backdrop-filter: blur(4px);
    background-color: rgba(0, 0, 0, 0.6);
}

.form {
    display: flex;
    flex-direction: column;
}

.sel {
    height: 2.5rem;
    border-radius: 6px;
    appearance: none;
    text-indent: 20px;
}
.sel option {
    font-size: 1rem;
    padding-left: 2rem;
}

.options {
    display: flex;
    gap: 4rem;
}

.options button:nth-child(1) {
    background-color: rgb(69, 186, 226);
    color: white;
    border-color: white;
}

.options button:nth-child(1):hover {
    background-color: rgb(66, 137, 160);
}


.options button:nth-child(2){
    background-color: rgb(85, 83, 83);
    color: white;
    border-color: white;
}

.options button:nth-child(2):hover{
    background-color: rgb(24, 24, 24);
}
