*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}


.card{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    margin-left: 4rem;
    padding-block: 1.5rem;
    place-items: start;
}


.card p:nth-child(2){
    margin-left: .5rem;
}

.card p:nth-child(3){
    margin-left: 2.3rem;
}

.card p:nth-child(4){
    margin-left: 3rem;
}


.card p:nth-child(5){
    margin-left: 4.3rem;
}

.card button{
    height: 2rem;
}