*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

.parked_card{
    display: flex;
    width: 98%;
    margin-inline: auto;
    justify-content: space-around;
    border-bottom: 1px solid black;
    align-items: end;
    margin-bottom: 2rem;
}
